<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116520956553-mqm9ciudoncke8js7cfkoi5sb9e74h1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116520956553-mqm9ciudoncke8js7cfkoi5sb9e74h1o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>116520956553-gmi78agdlna796534ccsqf046ld7aesl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAjsBYJApb3DvRS63fFYPFVZqgmIOfHmg8</string>
	<key>GCM_SENDER_ID</key>
	<string>116520956553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hu.bme.aut.ios.RecipeBook</string>
	<key>PROJECT_ID</key>
	<string>bme-szakdolgozat-recipes</string>
	<key>STORAGE_BUCKET</key>
	<string>bme-szakdolgozat-recipes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116520956553:ios:6ec15040c79b6fc9798c58</string>
	<key>DATABASE_URL</key>
	<string>https://bme-szakdolgozat-recipes.firebaseio.com</string>
</dict>
</plist>